<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}{% endblock %}
    </title>

    <link rel="stylesheet" href="CSS/Layout.css">
    <link rel="stylesheet" href="CSS/Menu.css">
</head>
<body>
<img src="/../assets/books-header.jpg" alt="Books-Library" height="200" width="1500" >


<div id="NavBar">
    <nav>
        <ul>
            <li><a href="index.php">Home</a></li>
            <li><a href="index.php?action=login">Login</a></li>
            <li><a href="index.php?action=register">Register</a></li>
            <li><a href="index.php?action=borrow">Borrow Books</a></li>
            <li>{% if user %}You are logged in {{ user.getUsername }}{% endif %}</li>
            <li><a href="index.php?action=Logout">Log Out</a></li>
            <li><a href="index.php?action=profile">Profile</a></li>

        </ul>
    </nav>
</div>
{% block main %}{% endblock %}
</body>
</html>