{% extends '_base.html.twig' %}

{% block title %}
    Borrow Books
{% endblock %}

{% block main %}
    <h1>This is where you choose what books to borrow .</h1>
    <ul>
    {% for book in books %}
        <li>
            <form method="post" action="index.php?action=takebook">
            <input type="hidden" value="{{ book.ID }}" name="bookId">
            {{ book.bookName }}
            <input type = "submit" value="Borrow">
            </form>
        </li>
        {% endfor %}
    </ul>



{% endblock %}