{% extends '_base.html.twig' %}

{% block title %}
    Borrow Books
{% endblock %}

{% block main %}
    <h1>This is where you choose what books to borrow .</h1>
    <h2> Harry Potter - J.K Rowling   </h2>

            <fieldset>
            <input type="submit" value="Harry Potter and the Philosopher''s Stone"><br>
            <input type="submit" value="Harry Potter and the Chamber of Secrets"><br>
            <input type="submit" value="Harry Potter and the Prisoner of Azkaban"><br>
            <input type="submit" value="Harry Potter and the Goblet of Fire "><br>
            <input type="submit" value="Harry Potter and the Order of the Phoenix"><br>
            <input type="submit" value="Harry Potter and the Half-Blood Prince"><br>
            <input type="submit" value="Harry Potter and the Deathly Hallows"><br>
            </fieldset>
    <h2>  The Saga of Darren Shan - Darren Shan.   </h2>

    <fieldset>
        <input type="submit" value="Cirque du Freak"><br>
        <input type="submit" value="The Vampire''s Assistant"><br>
        <input type="submit" value="Tunnels of Blood"><br>
        <input type="submit" value="Vampire Mountain "><br>
        <input type="submit" value="Trials of Death"><br>
        <input type="submit" value="The Vampire Prince"><br>
        <input type="submit" value="Hunters of the Dusk"><br>
        <input type="submit" value="Allies of the Night"><br>
        <input type="submit" value="Killers of the Dawn"><br>
        <input type="submit" value="Lord of the Shadows"><br>
        <input type="submit" value="Sons of Destiny"><br>

    </fieldset>


{% endblock %}