{% extends '_base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <h1>This is Login page.</h1>

    <body>
    <form action = "" method = "post">
        <label>UserName  :</label><input type = "text" name = "username" class = "box"/><br /><br />
        <label>Password  :</label><input type = "password" name = "password" class = "box" /><br/><br />
        <input type = "submit" value = " Submit "/><br />
    </form>
    </body>


{% endblock %}