{% extends '_base.html.twig' %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <form>
    <p>Your Username: {{ username }} </p>
    </p> <p>Books ready for you to be collected: </p>
    {% for book in books %}
    <p> {{ book }} </p> {% endfor %}
    </form>


{% endblock %}
