{% extends '_base.html.twig' %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <p>Your username: {{ username }} </p>
    <p>Your password: {{ password }}
    </p> <p>Your books: </p>
    {% for book in books %}
    <p> {{ book }} </p> {% endfor %}


{% endblock %}
